* {
  box-sizing: border-box;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

header {
  position: relative;
}

nav {
  position: relative;
}

div#header-banner {
  width: 1130px;
  height: 160px;
  margin: 0 auto;
  position: relative;
  border-bottom: 1px solid #e4e8eb;
} 

div#header-banner > h1 {
  display: inline-block;
}

div#header-banner > h1 a {
  display: inline-block;
  width: 222px;
  height: 52px;
  background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_153a02.png);
  background-size: 440px 410px;
  background-position: 0 -158px;
  background-repeat: no-repeat;
  position: relative;
  left: -8px;
  top: 24px;
}

div#header-search {
  display: inline-block;
  position: relative;
  top: 30px;
}

div#header-search > fieldset {
  width: 586px;
  height: 56px;
  margin-left: 20px;
  border: 2px solid #19ce60;
  position: relative;
}

div#header-search > fieldset input {
  width: 444px;
  height: 24px;
  padding: 20px 1px;
  margin: 1px;
  border: none;
  outline: none;
  font-size: 18px;
}

div#header-search > fieldset button {
  width: 56px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #19ce60;
  border: none;
}

.ico-search {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_153a02.png);
  background-size: 440px 410px;
  background-position: -204px -386px;
  background-repeat: no-repeat;
}

.ico-weather-munji-good {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_153a02.png);
  background-size: 440px 410px;
  background-position: -420px -132px;
  background-repeat: no-repeat;
  position: relative;
  top: 3px;
}

.ico-weather-munji-soso {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_153a02.png);
  background-size: 440px 410px;
  background-position: -420px -111px;
  background-repeat: no-repeat;
  position: relative;
  top: 3px;
}

.ico-weather-munji-bad {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_153a02.png);
  background-size: 440px 410px;
  background-position: -420px -92px;
  background-repeat: no-repeat;
  position: relative;
  top: 3px;
}

.ico-nav-mail {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_153a02.png);
  background-size: 440px 410px;
  background-position: -228px -385px;
  background-repeat: no-repeat;
  position: relative;
  top: 3px;
}

.ico-nav-TV {
  display: inline-block;
  width: 12px;
  height: 14px;
  background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_153a02.png);
  background-size: 440px 410px;
  background-position: -256px -212px;
  background-repeat: no-repeat;
  position: relative;
  top: 2px;
  margin: 0px;
  right: -3px;
}

.ico-news-company-stand {
  display: inline-block;
  width: 27px;
  height: 24px;
  background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_153a02.png);
  background-size: 440px 410px;
  background-position: -228px -296px;
  background-repeat: no-repeat;
  position: relative;
  top: 3px;
}

div#header-movenmentsite {
  position: absolute;
  top: 0;
  right: 0;
}

div#header-movenmentsite > a{
  font-size: 11px;
  color: black;
  text-decoration: none;
}

div#header-nav-group {
  width: 1130px;
  height: 52px;
  margin: 0 auto;
  position: relative;
  padding: 11px 0 11px 0;
  border-bottom: 1px solid #e4e8eb;
}

div#header-nav-group  ul {
  list-style: none;
  font-size: 15px;
  line-height: 30px;
  font-weight: 700;
  color: #000;
  letter-spacing: -0.3px;
  margin: 0;
  padding: 0;
}

.nav-item-before {
  float: left;
  margin-right: 15px;
  color: #19ce60;
}

.nav-item {
  float: left;
  margin-right: 15px;
}

div#nav-weather > ul {
  float: left;
  margin-left: 115px;
  font-size: 15px;
  line-height: 30px;
  font-weight: 700;
  color: #000;
}

.bar {
  color: #e4e8eb;
}

main {
  width:1130px;
  margin: 0 auto;
}

div#main-left-side {
  width: 750px;
  padding: 20px 0 20px 0
}

div#main-news {
  width: 750px;
  border: 1px solid #dae1e6;
  padding: 12px 15px 11px 15px;
  line-height: 24px;
  font-size: 13px;
  float: left;
  position: relative;
}

#news-title {
  float: left;
  font-weight: 700;
  margin-right: 7px;
}

#news-content {
  float: left;
}

div#news-submenu {
  float: left;
  position: absolute;
  margin-right: 10px;
  right: 0;
}

.link-news {
  text-decoration: none;
  color: #3565c9;
  font-weight: 700;
}

.direct-news {
  text-decoration: none;
  color: #000;
  margin-left: 3px;
  margin-right: 3px;
  font-weight: 700;
}

div#main-news-company {
  margin-top: 70px;
}

#news-company-stand-title > span {
  font-size: 14px;
}

.news-font-bold {
  font-weight: 700;
}

.news-company-stand-tablec {
  width: 750px;
}

#news-company-stand-table {
  margin-top: 9px;
}

#news-company-stand-table > table{
  border-collapse: collapse;
}

#news-company-stand-table td {
  font-size: 14px;
  font-weight: 600;
  width: 150px;
  height: 70px;
  text-align: center;
  border: 1px solid #dae1e6
}